<div class="user-details">
  <h1> Experience </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Logo" src="{{ "/assets/img/dttd.png" | prepend: site.baseurl }}" width="400" height="500"/>
  </div>
  <div class="contents">
    <h3> DTTD </h3>
    <ul>
      <li> Learned and worked with Python, AWS, PostgresQL, Docker, Postman</li>
    </ul>
    <p>This project was created for class COMP3330 Interactive mobile applications and programming. AuxiLang is a mobile app that allows children to play games for learning English. We implemented a dictionary, flash cards, and other games like hangman and pictionary.</p>
    <a class="project-link" href="https://www.dttd.io/">Check it out</a>
  </div>
</div>